<nav class="navbar navbar-expand-lg bg-light shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <div class="navbar-brand">
      <i class="fas fa-cubes" style="color: #ff6219;"></i>
      <span class="h5 fw-bold mb-0">LMS</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="section-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="section-link" aria-current="page" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="section-link" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="section-link" aria-current="page" href="#">Instructions</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input id="searchbar" class="me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle shadow-none rounded" id="avatar" alt="Avatar" />
  </div>
</nav>