#searchbar {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.8rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 50rem;
  transform: translate(-30rem, 0px);
  &:hover{
    border-color: #eab676;
  }
}

#section-link {
  color: black;
  font-weight: bold;

  &:hover {
    background: #e1e1e1;
    border-radius: 10%;
  }
}

#avatar {
  width: 40px;
}